.code-block {
    height: 250px;
    margin: 10px 0;
}

.codeflask {
    background: #fff;
    color: #4f559c;
    border: 1px solid #eef5fa;
    padding: 10px;
}

.codeflask {
    position: relative !important;
}

.codeflask__code {
    font-size: 13px;
    font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace !important;
}

.code-select {
    margin: 0 auto;
    width: 200px;
}

.code-wrapper {
    display: flex;
    justify-content: center;
    margin: 15px 0;
}

.codeflask__textarea {
    height: 100%;
    padding: 8px 9px !important;
    margin: 0px !important;
    font-size: 13px;
    line-height: 20px;
    color: transparent;
    font-family: monospace, monospace;
}